.navbar {
    height: 15rem;
    display: flex;
    align-items: center;
    background: linear-gradient(white, lightgrey);
}

.navbar-content {
    margin-left: 5rem;
    font-family: Comfortaa, cursive; ;
    min-width: 289px;
}

.book-store-icon {
    margin-right: 1rem;
    font-size: 4rem;
    color: #D94940;
    position: relative;
    right: 1rem;
    top: 0.25rem;
}

.navbar-page-subtitle {
    position: relative;
    bottom: 1rem;
    font-size: 12px;
    color: darkgrey;
    left: 4.5rem;
}

body {
    background-color: whitesmoke !important;
}

.container {
    max-width: 750px;
    min-width: 750px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.thumbnail {
    height: 33rem !important;
    border-radius: 6px;
}

.thumbnail img {
    height: 15rem !important;
    margin-top: 20px !important;
}

.book-title {
    width: 100%;
    margin-bottom: 5px;
    color: #94584D
}

.book-author {
    width: 100%;
    margin-top: 5px;
    color: #7E7E7E;
}

.book-details {
    color: #7E7E7E;
}

.book-author-link {
    color: #94584D !important;
}

.book-price {
    position: absolute;
    bottom: 4rem;
    left: 3rem;
    font-size: 2rem;
}

.search-bar {
    border: 3px solid #d6d6d6;
    border-radius: 7px;
}

.search-btn {
    background-color: #E14838;
    color: white;
}

.buy-btn {
    position: absolute;
    bottom: 4rem;
    right: 3rem;
    background-color: #2d2d2d;
    color: white;
}